html, body {
    height: 100%;
}

body {
    background-color: #423636;
    font-family: Calibri, Arial, sans-serif;
}


h2 {
    color: #c7e4d4;
    text-align: center;
}

#field {
    max-width: 500px;
    width: 64%;
    margin: 30px 18% 0 18%;
}

#settings {
    overflow: hidden;
    min-width: 300px;
    color: whitesmoke;
    width: 80%;
    margin: 30px 10% 0 10%;
}

input {
    border-radius: 3px;
    width: 25%;
    text-align: center;
    float: right;
}

#startButton {
    width: 40%;
    margin: 40px 30% 0 30%;
}

.col {
    float: left;
    height: 90%;
    overflow: auto;
}

.col.col-sm {
    width: 40%;
    background-color: #708073;
}

.col.col-lg {
    width: 60%;
    background-color: #c7e4d4;
}

.tip {
    text-align: right;
    font-size: 14px;
}

.rabbit:before, .wolf:before, .tree:before, .bush:before {
    content: '\25A0  ';
}

.rabbit {
    color: #C2C2A3;
}

.wolf {
    color: #333399;
}

.tree {
    color: #009933;
}

.bush {
    color: #99FF66;
}